*.o
TP1_poly/test_poly 
.clang-format
TP1_poly/test_poly_creux
.vscode/*
.template.latex
.test.theme
*.pdf
*.gch
*.a
*.so
test_copy
test_dot
test_nrm2
test_swap
dep.mk
test_axpy
test_iamin_iamax
perf_dot
perf_dot_dyn
perf_copy
perf_copy_dyn
test_gemm
perf_gemm
perf_gemm_dyn
perf_axpy
perf_axpy_dyn
perf_copy
perf_copy_dyn
test_copy
test_dot
test_gemv
test_swap
perf_axpy
perf_axpy_dyn
perf_gemv 
perf_gemv_dyn 